<h1 class="text-center">Admin page</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col m-2 text-center">
            <div class="m-3"><%= link_to "Categories", admin_categories_path, class: "btn btn-info" %></div>
            <p>You can edit Categories.</p>
        </div>

        <div class="col m-2 text-center ">
            <div class="m-3"><%= link_to "Users", admin_users_path, class: "btn btn-info" %></div>
            <p>You can edit Users.</p>
        </div>
    </div>
</div>