<h1 class="text-center">Admin page</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col m-2 text-center">
            <div class="m-3"><%= link_to "Categories", '#', class: "btn btn-primary" %></div>
            <p>You can change Categories.</p>
        </div>

        <div class="col m-2 text-center ">
            <div class="m-3"><%= link_to "Users", admin_users_path, class: "btn btn-primary" %></div>
            <p>You can remove Users.</p>
        </div>
    </div>
</div>