<% provide(:title, 'Home') %>

<div class="container">
    <h1 class="text-center">About</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum consectetur elit, vitae laoreet nibh ornare ut.</p>
</div>