<% provide(:title, 'About') %>

<div class="center jumbotron bg-white">
    <h1 class="text-center">About</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum consectetur elit, vitae laoreet nibh ornare ut.</p>
</div>