<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="container">
            <h1 class="text-center">New Word</h1>
            <br>
            <%= render "form" %>

           <div class="text-center">
            <%= link_to "Back", admin_category_words_path, class: "btn btn-link" %>
        </div>
        </div>
    </div>
</div>