<% provide(:title, 'All users') %>
<h1 class="text-center">All users</h1>

<br>

<div class="paginate mb-3">
    <%= will_paginate %>
</div>

<ul class="users">
    <% @users.each do |user| %>
        <li>
            <%= link_to user.name, user_path(user) %>
        </li>
    <% end %>
</ul>

<div class="paginate my-3">
    <%= will_paginate %>
</div>