<% provide(:title, @user.name) %>

<div class="container">
    <div class="row">
        <aside class="col-md-3">
            <section>
                <%= render 'shared/user_info' %>
            </section>
        </aside>

        <div class="col-md-9">
            <h5>Activity Feeds</h5>
        </div>
    </div>
</div>