<% provide(:title, @user.name) %>

<div class="center jumbotron bg-white">
    <div class="text-center"><%= image_tag @user.image.to_s %></div>
    <br>
    <h1 class="text-center"><%= @user.name %></h1>
    <h5 class="text-center"><%= @user.email %></h5>
</div>


