<header class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">
        <%= link_to "Elerning System", root_path, class: "navbar-brand" %>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <%= link_to "Sign up", signin_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "log in", "#", class: "nav-link" %>
            </li>
        </ul>
    </div>
</header>